<nav class="navbar navbar-expand-md navbar-dark stylish-color-dark px-lg-19vw">
	<!-- Navbar brand -->
	<a class="navbar-brand" href="@Url.Action("Index", "Home")">UTMusic</a>
	<!-- Collapse button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
			aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collapsible content -->
	<div class="collapse navbar-collapse" id="basicExampleNav">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
				   aria-haspopup="true" aria-expanded="false">
					Account
				</a>
				<div class="dropdown-menu dropdown-menu-left dropdown-menu-md-right dropdown-primary stylish-color-dark"
					 aria-labelledby="navbarDropdownMenuLink">
					@if (User.Identity.IsAuthenticated)
					{
						<a class="dropdown-item d-block white-text" href="@Url.Action("Logout", "Account")">Log Out</a>
					}
					else
					{
						<a class="dropdown-item d-block white-text" href="@Url.Action("Login", "Account")">Log In</a>
						<a class="dropdown-item d-block white-text" href="@Url.Action("Register", "Account")">Register</a>
					}
				</div>
			</li>
		</ul>
	</div>
</nav>